* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-family: "Open Sans", sans-serif;
}
.ret {
  height: 100vh;
  background-color: azure;
  background-image: url("IMG/bg-img.webp");
  background-position: center;
  background-size: cover;
}
li {
  list-style: none;
}
a {
  text-decoration: solid;
  color: black;
  font-size: 1rem;
}
a:hover {
  color: rgb(15, 208, 208);
}
header {
  position: relative;
  padding: 0 2rem;
}
.nav-bar {
  width: 100%;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-bar .logo a {
  font-size: 2rem;
  font-weight: bold;
}
.nav-bar .links {
  display: flex;
  gap: 2rem;
}
.nav-bar .toggle_btn {
  color: black;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}
.action_btn {
  background-color: aqua;
  color: rgb(35, 34, 34);
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  transition: scale 0.2 ease;
}
.action_btn:hover {
  scale: 1.05;
  color: rgb(35, 34, 34);
}
.action_btn:active {
  scale: 0.95;
}
.dropdown_manu {
  position: absolute;
  right: 2rem;
  top: 60px;
  width: 300px;
  height: 0;
  background: rgb(16, 16, 16, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 18px;
  overflow: hidden;
  display: none;
  transition: height 02s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown_manu.open {
  height: 240px;
}
.dropdown_manu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dropdown_manu .action_btn {
  width: 100%;
  display: flex;
  justify-content: center;
}

@media (max-width: 992px) {
  .nav-bar .links,
  .nav-bar .action_btn {
    display: none;
  }
  .nav-bar .toggle_btn {
    display: block;
  }
  .dropdown_manu {
    display: block;
  }
}
.container {
  margin: auto;
  text-align: center;
  padding-top: 10px;
}
.aaa {
  padding: 20px 0;
}
.aaa .icon-cart {
  position: relative;
}
.bi-cart3 {
  font-size: 25px;
}
.icon-cart span {
  width: 20px;
  height: 20px;
  font-size: small;
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right:-13px;
}
.ListProduct .item img{
  width: 90%;
  filter: drop-shadow(0 50px 20px #0009);
}
.ListProduct{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap:20px;
}
.ListProduct .item{
  background-color: #eeeeeee6;
  padding: 20px;
  border-radius: 20px;
}
.ListProduct .item h2{
  font-weight: 500;
  font-size: larger;
}
.ListProduct .item button{
  background-color:#353432;
  color: #eee;
  padding: 5px 10px;
  border-radius: 20px;
  margin-top: 10px;
  border: none;
  cursor: pointer;
}
.button-48 {
  appearance: none;
  background-color: #FFFFFF;
  border-width: 0;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: Clarkson,Helvetica,sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1em;
  margin: 0;
  opacity: 1;
  outline: 0;
  padding: 1.5em 2.2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-rendering: geometricprecision;
  text-transform: uppercase;
  transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1),background-color 100ms cubic-bezier(.694, 0, 0.335, 1),color 100ms cubic-bezier(.694, 0, 0.335, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.button-48:before {
  animation: opacityFallbackOut .5s step-start forwards;
  backface-visibility: hidden;
  background-color: #EBEBEB;
  clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateZ(1);
  transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
  width: 100%;
}

.button-48:hover:before {
  animation: opacityFallbackIn 0s step-end forwards;
  clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

.button-48:after {
  background-color: #FFFFFF;
}

.button-48 span {
  z-index: 1;
  position: relative;
}
